/*
Info: CSS for HTML5 and CSS3 Teamwork
Author: Tean Sindragosa
Successfully checked as (CSS level 3) in W3C CSS Validator
*/
html, 
body, 
.wrapper {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Calibri, serif;
	font-size: 24px;
	background-color: #eeeeee;/*#b5bbbf;	*/
	padding: 0;
	margin: 0;
}

.wrapper footer {
	padding: 0 !important;
} 
 
header {
	padding-bottom: 5px;
	background: #bcbcbc;
	border-bottom: 1px solid #45ccea;
} 
.main {
	border-top: 1px solid #62c47d;
}
/* START HEADINGS AND LOGO */
h1, h2 {
	margin: 0;
	padding: 0;
}
/*div.logo {
    background: url('../images/sindragosa.png');
    height: 135px;
    width: 450px;
    margin-left: 20px;
}*/
.logo img {
    padding: 0;
	width: 100%;
	height: auto;
	max-width: 450px;
}
/* END HEADINGS AND LOGO */
/* START NAV MENU */
/*nav {
  background-color: #5d6569;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 5px 10px 5px 10px;
  overflow: hidden;
  width: 95%; 
}

nav div div ul {
	margin: 0;
	padding: 0;
}

nav  div div ul li {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;  
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
  
nav  div div > ul > li > a > .arrow {
	margin-left: 5px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	  -moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}

nav  div div > ul > li > a {
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 15px;
	text-decoration: none;
}

nav  div div > ul > li:hover,
.active  {
	background-color: rgb( 40, 44, 47 );
}

nav  div div > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}

nav  div div > ul > li:hover > a > .arrow {
	margin-left: 5px;
	border-top-color: rgb( 255, 255, 255 );
}

nav  div div > ul > li > ul {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	z-index: 100;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav  div div > ul > li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

nav  div div > ul > li > ul > li {
	display: block;
}

nav  div div > ul > li > ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

nav  div div > ul > li > ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

nav img {
	padding: 0px;
	display: block;
}*/
.nav.navbar-nav.navbar-right a {
    margin: 0;
    padding: 0;
}
.navbar {
	margin-bottom:5px;
}
.navbar-default {
    background-color: #7bc144;
    border-color: #036ab5;
}
.navbar-nav > li > a {
    line-height: normal;
   
}
.navbar-default .navbar-nav > li > a{
     color: #2d3035;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #0058a8;
}
/* END NAV MENU */
 
/* START SEARCH MENU */
 form{
	width:100%;
	margin:0 auto;
}
.search { 
	/*padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../images/search.png') no-repeat 8px 6px; */
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
input[type=text]{
	color:#bcbcbc;
}
input[type=button], input[type=button]:hover {
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
.search-menu {
	width:auto;
	display: inline-block;
}

.search-menu{
	/*background: url('../images/dark_grey.jpg');*/
}
.search-menu input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:#505358;
	width: 200px;
	float: left;
}
button.search-button[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/search.png") no-repeat scroll 7px center transparent;
    border-collapse: collapse;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #d5d5d5;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    float: left;
    height: 30px;
    margin: 0;
    vertical-align: top;
    width: 32px;
	margin-top:1px;
	margin-left: -35px;
}
/* END SEARCH MENU */

h2 a {
	text-decoration: none;
	color: green;
} 
h3 {
	color: #428bca;
}
article img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}
img {
	padding: 10px;
}
/* Start Main Page */
.main {
	background: url('../images/bg_top_img.jpg') no-repeat right 0, url('../images/bg_top_left.jpg') repeat-x, url('../images/bg_bottom.jpg') repeat-y right 0, #0058a8;
	border-bottom: 1px solid #000000 ;
	/*padding: 0 30px 0 50px;*/
}
.main-art {
	border: 1px solid green;
	border-radius: 5px;
	background: none repeat scroll 0 0 rgba(85, 202, 137, 0.5);
    border: 1px solid green;
    border-radius: 5px;
	padding: 2%;
	margin-bottom: 10px;
}
/* End Main Page */
/* Start Sponsors Page*/
article.spon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
}
.sponsors > h2 {
    background: none repeat scroll 0 0 #a5b2af;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
}
.sponsors > .container-fluid {
    background: none repeat scroll 0 0 #a5b2af;
    border-radius: 20px;
    margin: 5px;
}
.sponsors article {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 20px;
    margin: 15px 0;
	-webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.76);
	-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.76);
	box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.76);
}
/* End Sponsors Page*/

/* Start Apply Page*/
article.apply img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
}
#note {
	font-style: italic;
}
/* End apply Page*/

/*START CONTACTS PAGE*/
section.contacts{
    min-height: 500px;

}
.contactForm {
    font-size: 1em;
    color: rgb( 40, 44, 47 );
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    display: block;
    display: table-cell;
    vertical-align:central;
}
div.inputForm {
    height: 100px;
    width: 350px;
    float: left;
   
   
}
div.submit {
    float: left;
    width: 700px;
}
.contactTextarea{
    font-size: 1em;
    max-width: 700px;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}
button.submit {
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;    
    background-color: #2d3035;
    border-radius: 10px;
    border: 1px solid black;
    color: #f8f8f8;
   
    
}
div.priceTable {
    width: 75%;
    margin: 15px 0;
}
/*Logo*/
/*div.logo {
    background: url('../images/sindragosa.png');
    height: 135px;
    width: 450px;
    margin-left: 20px;
}*/

/* START FOOTER */
footer li {
	display: inline-block;	
	vertical-align: middle;
}

footer {
	border-top: 1px solid #0058a8 ;
	clear:both;
	text-align: center;
	background: #bcbcbc;
	width: 100%;
}
.bottom-nav li {
    display: block;
}
/*footer img, 
footer li img {
	width: auto;
	height: 31px;
	padding: 5px 5px;
}*/

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

footer ul li { 
	display: inline-block;
}

footer ul li a {
	text-decoration: none;
	color: #000;
}

footer ul li a:hover
{
	color: rgb(181, 187, 191);
	/*background-color: rgb(93, 101, 105);*/
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;	
}

/*footer ul li img:hover
{
	height: 41px;
	padding: 0px 0px;
	margin:0;
	width: auto;
}*/
.follow-us img {
	width: auto;
	height: 31px;
	padding: 5px 5px;
}
.follow-us img:hover {
	padding: 0px;
}
.footer-info img {
	width: auto;
	height: 31px;
	padding: 5px 5px;
}
#sec-footer .col-md-3:first-of-type h1 {
    font-size: 2.2em;
}
#sec-footer .col-md-3:first-of-type h2 {
    font-size: 1.8em;
}
#contact-info {
	font-size: 0.67em;
}
/*.footer-info img:hover {
	height: 31px;
	border: 1px solid black;
	margin: 9px 4px;
	padding: 0px 0px;
}*/
/* END FOOTER */